// out: ./History.min.css, compress: true

@import '../../../../styles/less/__modules.less';

.history {
    overflow-y: hidden; 
    max-height: 255px;
    margin-top: 50px;
    padding: 20px 0 20px 22px;
    background-color: #fff;
    border-radius: 16px;
    &__list {
        padding-right: 22px;
        width: 100%;
        max-height: 176px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: @medium-grey;
            border-radius: 10px;
        }
    }

    .subtitle {
        margin: 0;
        margin-bottom: 22px;
        font-weight: 500;
        font-size: 17px;
    }
}

.loading {
    .history__list {
        .history__item {
            align-items: stretch;
            &--icon {
                min-width: 44px;
                min-height: 44px;
                .img {}
            }

            &--title {
                p {
                    display: inline-block;
                    width: 100px;
                    height: 20px;
                    background-color: rgba(@dark-grey, 0.5);
                    animation: loading 1s ease-in infinite;
                }
            }

            &--date {
                display: inline-block;
                width: 100px;
                height: 10px;
                background-color: rgba(@dark-grey, 0.5);
                animation: loading 1s ease-in infinite;
            }

            &--amount {
                display: inline-block;
                width: 100px;
                height: 20px;
                background-color: rgba(@dark-grey, 0.5);
                animation: loading 1s ease-in infinite;
            }
        }
    }
}

@keyframes loading {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}